repos:
- repo: https://github.com/homebysix/pre-commit-macadmin
  rev: v1.21.1
  hooks:
  - id: check-plists
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-shebang-scripts-are-executable
  - id: end-of-file-fixer
  - id: trailing-whitespace
